{% extends "base.html" %}

{% block usuario %}

            	<ul class="nav top-menu usuario">
                    <li class="usuario2">Bienvenido {{usuario}}</li>
            	</ul>

{% endblock %}



{% block usuario2 %}

Collections de {{usuario}}

{% endblock %}



{% block contenido1 %}

  {% for collection in datos.keys() %}
                    <div class="col-md-12">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i>{{collection}}</h4>
                            <hr>
                          <table class="table">
                              <thead>
                                <tr>

                                {% for key in datos[collection][0].keys() %}

                                  {% if key!='_id' %}
                                    
                                      <th>{{key}}</th>                                    

                                  {% endif %}

                                {% endfor %}

                                </tr>
                              </thead>
                              <tbody>
                                

                                {% for registro in datos[collection] %}

                                  <tr>

                                  {% for dato in registro.values() %}

                                    {% if dato is string or dato is number %}
                                                                         
                                        <td>{{dato}}</td>

                                    {% endif %}

                                  {% endfor %}

                                  <tr>

                                {% endfor %}

                                
                              </tbody>
                          </table>
                        </div><!--/content-panel -->
                    </div><!-- /col-md-12 -->
                    <br>
  {% endfor %}
              
{% endblock %}